@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

*, html{
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'League Spartan', sans-serif;
}

.calLogo{
    color: hsl(221, 14%, 31%);
}
.displayLogo{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    box-sizing: border-box;
    margin-bottom: -.5rem;
}

.themeDisplay{
    display: flex;
    width: 100%;
    padding-left: 18rem;
    box-sizing: border-box;
    font-size: 10px;
}

.calLogo1{
    color: hsl(221, 14%, 31%);
    font-size: 25px; 
}

.calLogoNumber{
    margin-bottom: 0;
    color:  hsl(221, 14%, 31%);
    letter-spacing: 5px;
}

.numberToggle{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: -1rem;
}

.display  {
    width: 100%;
    height: 100px;
    background-color: hsl(0, 0%, 93%);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: -3rem;
    color: hsl(221, 14%, 31%);
   
}

#display-input{
    font-size: 34px;
    display: flex;
    justify-content: flex-end;
    padding-top: 4rem;
    padding-right: 2rem;
    
}
.buttons-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color:  hsl(0, 5%, 81%);
    margin-top: 1em;
    padding: 1em;
    border-radius: 10px;
}

.toggle-div{
    height: 25px;
    width: 65px;
    background-color:  hsl(0, 5%, 81%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.toggle-ball{
    height: 15px;
    width: 15px;
    background-color: hsl(25, 98%, 40%);
    border-radius: 100%;
    transition: 0.5s ease-in 0.3s;
}
.numbers,
.operator,
.moreFxn{
  background-color: white;
  /* margin: 1em; */
  width: 83px;
  height: 45px;
  border-radius: 10px;
  border: none;
  color: hsl(221, 14%, 31%);
  margin: 10px;
  font-weight: 700;
  border: none;
  outline: none;
  color: hsl(221, 14%, 31%);
  font-size: 32px;
  cursor: pointer;
}

.reset-Btn, .equal-Btn {
    height: 50px;
    grid-column: span 2;
    border-radius: 10px;
    border: none;
    width: 90%;
    margin-left: 10px;
    font-weight: 700;
    padding: auto;
    font-size: 28px;
}

.reset-Btn,
.delete-button{
    background-color:hsl(185, 42%, 37%);
    color: hsl(0, 0%, 100%);
    padding: auto;
    font-size: 28px;
}

.reset-Btn:hover,
.delete-button:hover{
background-color:  hsl(185, 58%, 25%);
}

.equal-Btn{
    background-color: hsl(25, 98%, 40%);
    color: hsl(0, 0%, 100%);
} 
.equal-Btn:hover{
    background-color: hsl(25, 99%, 27%);
}